* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "EB Garamond", serif;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 1px;
  min-height: 100vh;
  background-image: url(../img/IMG_2649.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.2)),
    url(../img/IMG_2649.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: fixed center;
  position: relative;
}
.background-shadow {
  background: linear-gradient(rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.5)),
    url(../img/IMG_2649.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: fixed center;
  position: relative;
}

li {
  list-style: none;
}
a {
  color: #0a1f41;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 900;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-link,
.footer-social,
.social-link {
  transition: 0.7s ease;
}
.nav-link:hover,
.footer-social:hover,
.social-link:hover {
  color: #fdb833;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  //-webkit-transition: all 0.3s ease-in-out;
  //transition: 500ms all 0.3s ease-in-out;
  transition-timing-function: cubic-bezier(0, 0.36, 0.58, 1);
  background-color: #fdb833;
}
.social-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.footer-main {
  display: flex;
  justify-content: center;
  position: absolute;
}

footer {
  position: -webkit-sticky;
  //position: absolute;
  text-align: center;
  bottom: 0;
  padding-bottom: 1.5rem;
  bottom: 0;
  width: 100%;
}

.footer-social {
  color: #fff;
  font-size: 1rem;
  margin: 0 0.5em;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 0.5em;
}

.footer-fineprint {
  color: rgb(190, 190, 190);
  font-size: 0.8rem;
}

.main-name {
  padding-top: 50px;
  font-weight: bolder;
  font-size: 3.2rem;
  max-width: 50%;
  color: #fdb833;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 100px auto;
  border-bottom: 1px solid #fdb833;
}

/***********
BIO, TYPOGRAPHY
************/

.bio-main-div {
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 13rem;
  font-size: 1.2rem;
  height: 100%;
}

.bio-text {
  text-align: flex-start;
  padding-right: 5rem;
  margin-left: 3rem;
  font-weight: 800;
  //border-left: 6px solid #212f45;
  height: 100px;
  color: #fdb833;
  font-size: 2.7rem;
}

.bio-text::before {
  content: "";
  display: block;
  position: absolute;
  top: 60;
  border-left: 7px solid #0a1f41;
  left: 260px;
  transform: translateY(6px);
  height: calc(100% - 92%);
}

.bio-text::after {
  box-sizing: border-box;
}

.paragraph {
  margin: 1.2rem;
  font-size: 1rem;
}

// .bio-main-div,
.contact-form {
  //   //background: rgba(230, 152, 8, 0.3);
  //background: hsla(205, 16%, 40%, 0.452);
  background: rgba(230, 152, 8, 0.3);
  backdrop-filter: blur(55px);
  box-shadow: 1px 1px 10px rgb(107, 107, 107);
}
/***********
CONTACT
**********/

.page-title {
  font-size: 2.9rem;
  color: #fdb833;
  border-bottom: 1px solid #fdb833;
  max-width: 50%;
  margin: auto;
  margin-top: 9rem;
  margin-bottom: 3rem;
}
.contact-info {
  text-align: center;
  color: #eeee;
}

.contact-form {
  //text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 35%;
  margin: 10rem auto;
  color: #eeeeee;
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

input,
textarea {
  margin-bottom: 0.45em;
  padding: 0.45em;
  font-family: inherit;
  background-color: #eeeeee;
  border: none;
}

textarea {
  resize: none;
  height: 100px;
}

.btn-form {
  width: 6.3rem;
  height: 2.2rem;
  margin-left: auto;
}
.btn {
  padding: 0.5em 1.75em;
  margin-top: 0.5em;
  text-decoration: none;
  border: 0;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.btn-primary {
  font-weight: 900;
  background-color: #b8b8b8;
  color: #0a1f41;
  justify-self: start;
  transform: scale(1);
  transition: transform 0.7s ease-in;
}

.btn-primary:hover,
.btn-primary:focus {
  transform: scale(1.1);
  background-color: #fdb833;
  cursor: pointer;
  transition: fill 170ms ease-in-out;
}
input,
textarea,
.btn {
  border-radius: 0.2rem;
}

//************
//video
//************
.wrapper {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(1em, 1fr) minmax(1em, 1fr);
  grid-column: 3 / -1;
  gap: 2rem;
  margin: 5rem;
  background: rgba(230, 152, 8, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgb(122, 122, 122);
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-top: 10rem;
}
.iframe-container {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//*********************
//        LESSONS
//*********************
.goal {
  text-transform: uppercase;
  color: #eeeeee;
  padding-right: 13rem;
  padding-left: 13rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  margin: auto;
}

.icons {
  font-size: 1.2rem;
  color: #fdb833;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.icons-bio {
  font-size: 1.2rem;
  color: #fdb833;
  text-align: center;
  margin-top: 4rem;
}
.lesson-intro {
  font-size: 1.2rem;
}

.lesson-intro::before {
  content: "";
  display: block;
  position: absolute;
  border-left: 7.5px solid #fdb833;
  left: 190px;
  transform: translateY(6px);
  height: calc(100% - 75%);
}
.lesson-list {
  margin-top: 4rem;
}
.lesson-intro,
.lesson-list {
  margin-right: 15rem;
  margin-left: 17rem;
  color: #eeee;
}
.price {
  color: #fdb833;
  text-align: center;
  font-size: 1.7rem;
}

.price-list {
  text-align: center;
  color: #eeeeee;
}

.price-div {
  margin: 12rem;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 1;
    flex-direction: column;
    //background: rgba(119, 118, 117, 0.3);
    //background: rgba(69, 146, 247, 0.081);
    background: rgba(255, 255, 255, 0.411);
    backdrop-filter: blur(25px);
    width: 100%;
    text-align: center;
    transition: 0.7s;
    z-index: 100;
  }
  .nav-item {
    margin: 30px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-link {
    font-size: 1.2rem;
  }
} /// HAMBURGER *****/

@media (max-width: 768px) {
  .main-name {
    font-size: 1.8rem;
    font-weight: 900;
  }
}

/// LESSONS ******/

@media (max-width: 820px) {
  .main-name {
    padding: 0;
  }
  .goal {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .lesson-intro {
    margin-right: 3rem;
    margin-left: 3rem;
    font-size: 0.85rem;
  }

  .lesson-list,
  .price-div {
    padding: 0;
    font-size: 0.7rem;
    margin: 3rem;
  }
  .lesson-intro::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 7.5px solid #fdb833;
    left: 10px;
    transform: translateY(6px);
    min-height: calc(100% - 81%);
  }
  .price {
    font-size: 1rem;
  }

  .footer-social {
    font-size: 0.7rem;
    margin: 0 0.5em;
  }
  .footer-fineprint {
    font-size: 0.5rem;
  }
  a {
    opacity: 0.8;
    color: #fdb833;
    font-size: 0.9rem;
    color: #0a1f41;
  }
}

@media (max-width: 768px) {
  .bio-text {
    text-align: center;

    //border-left: 6px solid #212f45;
    margin: auto;
    color: #fdb833;
    font-size: 1.5rem;
  }

  .bio-text::before {
    content: "";
    display: block;
    position: absolute;
    //border-right: 1px solid #0a1f41;
    border-right: none;
    left: 40px;
    transform: translateY(6px);
    height: calc(100% - 96%);
  }

  .bio-text {
    text-align: center;
    font-weight: 800;
    //border-left: 6px solid #212f45;
    color: #fdb833;
    font-size: 2rem;
    margin: auto;
  }
  .bio-main-div {
    color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem;
    font-size: 1.1rem;
  }
}
//***************
//CONTACT INFORMATION
//**************
@media (max-width: 820px) {
  .page-title {
    font-size: 1.9rem;
    margin-top: 10rem;
    margin-bottom: 2.5rem;
  }
  .contact-info {
    margin: 1rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    margin: 5rem auto;
    font-size: 0.75rem;
    font-weight: 500;
  }
  .btn-form {
    width: 5.9rem;
    height: 2.2rem;
  }
}
@media (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
    padding: 1.7rem;
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: minmax(1em, 1fr) minmax(1em, 1fr);
    grid-column: 2 / -1;
    gap: 1.5rem;
    margin: 3rem;
    padding: 2rem;
  }
}
